{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> ff dssdbsms bdfsa dvamdfsdsad sadfsd sdf afsad sd kfs  vbv akbdsn b bw vsdbd s sd sf aff sf  bvd vs fFH LVFB BF bwf bH  B  S SDBBSDFASDBFSBDFS DFSDBFBBvdjfbdsbdkbd dbfdbsdbgdfbg</p>
        <a href="#"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}